*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrappe{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.row{
    width: 100%;
    padding: 50px 100px;
}

.image-section{
    width: 30%;
    position: relative;
    float: left;
    margin-left: -200px;
}

.image-section img{
    width: 100%;
    height: 400px;
}

.conten{
    width: 60%;
    float: left;
    margin-left: 250px;
}

h1{
    font-size: 50px;
    letter-spacing: 3px;
    margin-top: 55px;
}

h2{
    font-size: 35px;
    margin-top: 15px;
    color: #fc4626;
}

p{
    font-size: 17px;
    margin-top: 10px;
    line-height: 1.5;
}
